<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
   <!--<class name="Maven_Test.Maven_Test.DependencyExample"/>
      <class name="Maven_Test.Maven_Test.AppTest"/>
      <class name="Maven_Test.Maven_Test.GroupingExample"/>
      <class name="Maven_Test.Maven_Test.Prioritize"/>
      <class name="Maven_Test.Maven_Test.TestAssertFunctions"/>
      <class name="Maven_Test.Maven_Test.InvocationCountExample"/>-->
       <class name="MavenForJenkins.UITest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
